{% extends 'guitron/base.html' %}
{% block title %}guitron{% endblock %}
{% block content %}
{% load staticfiles %}

<h1 class='text-primary'>GuiTron DashBoard</h1>
<ul style="list-style-type:none">
  <div class="row">

<div class="col-md-4">
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Controllers" onclick="window.location.href='{% url 'guitron:controllers' %}'" />
        </form>

</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Events" onclick="window.location.href='{% url 'guitron:events' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Lights" onclick="window.location.href='{% url 'guitron:light' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Feed The Dog" onclick="window.location.href='{% url 'guitron:events' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="DashBoard" onclick="window.location.href='{% url 'guitron:dashboard' %}'" />
        </form>
</div>
</div>
</div>

<article>

    <h3 class='text-success'>Raspberry Pi</h3>
      <p class="text-primary">{{ controller.name }}</p>
      <p class="text-primary">{{ controller.location }}</p>
      <p class="text-primary">{{ controller.user }}</p>
        <p class="text-primary">{{ controller.uuid }}</p>

</article>

{% if 'guitron' in perms %}
{% endif %}
{% endblock %}
