{% extends "guitron/base.html" %}

{% block title %}Cool Title for My App{% endblock %}

{% block content %}

{% if recent_controllers %}

<h1 class='text-primary'>GuiTron DashBoard</h1>
<ul style="list-style-type:none">
  <div class="row">
    {% for controller in recent_controllers %}
<div class="col-md-4">
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Controllers" onclick="window.location.href='{% url 'guitron:controllers' controller.id  %}'" />
        </form>

</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Events" onclick="window.location.href='{% url 'guitron:events' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Lights" onclick="window.location.href='{% url 'guitron:light' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="Feed The Dog" onclick="window.location.href='{% url 'guitron:events' %}'" />
        </form>
</div>
</div>
<div class="row">
<div class="col-md-4">
        <form>
        <input style="width: 300px; padding: 20px; box-shaddow: 6px 6px 5px; #007399; -webkit-box-shadow: 6px 6px 5px #007399; -moz-box-shadow: 6px 6px 5px #007399; font-weight: bold; background: #0000ff; color: #000000; cursor: pointer; border-radius: 10px; border: 1px solid #D9D9D9; font-size: 150%;" type="button" value="DashBoard" onclick="window.location.href='{% url 'guitron:dashboard' %}'" />
        </form>
      </div>
      </div>
    </div>

  {% if recent_events %}

<div class="col-md-7">
    <div class="panel .col-xs-* panel-transparent">
    <div class="panel-heading">
      <h3 class='text-success'>RASPBERRY PI Events</h3>

      {% for event in recent_events %}

      <div class="row">
        <div class="text-success col-xs-4 col-xs-offset-4">{{ event.time }}</div>
      </div>

      <div class="row">
        <div class="text-success col-xs-4 col-xs-offset-4">Switch ON/OFF is now {{ event.value}}</div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-offset-4">Location is at {{ event.component.controller.location }}</div>
      </div>

      {% endfor %}
    </div>
</div>
</div>
</div>



<a href="http://www.accuweather.com/en/us/san-antonio-tx/78205/weather-forecast/351198" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1467142132778" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1467142132778"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>  {% endif %}
</div>
  {% endfor %}
{% endif %}
{% endblock %}


{{ event.time }}
