{% extends 'guitron/base.html' %}

{% block title %}Raspberry Pi{% endblock %}

{% block content %}

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{% url 'guitron:create' %}">Gadget</a></li>
    <li><a href="#">Switch</a></li>
    <li><a href="#">Area</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>




{% if recent_gadgets %}

<h1 class='text-warning'>Gadget</h1>
<ul class = "list-unstyled">

    {% for gadget in recent_gadgets %}




      </li>
      <ul class="list-group">
        <li class="list-group-item">

          <a href="{% url 'guitron:view' gadget.id %}">
          {{ gadget }}
        </a>


      </li>
    {% endfor %}
    </ul>

</div>
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>



{% endif %}
{% endblock %}
